.hissu{
    background-color: red;
    color: white;
    border-radius: 7px;
    font-size: 0.7rem;
}
.kakko{
    font-size: 0.7rem;
}
.koumoku{
    color: white;
}
.kakomu{
    text-align: left;
    vertical-align: top;
}
th{
    text-align: left;
    vertical-align: top;
    background-color: lightblue;
}
td{
    background-color: rgb(95, 218, 187);
}
button{
    width: 200px;
    padding: 10px;
}
tr,th,td{
    padding: 10px;
}



